
div{
    text-align: center;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #777;

    height:100%;
}   

h1{
    font-size: 16pt;
    color: lightgray;

}

h3{
    font-size: 15pt;
    color:lightsalmon;  
}